.container {
    background-color: #558b2f;
    border-radius: 15px;
    padding: 20px;
    width:500px;
}

    .btn-floating {
        color: #1b5e20;
    }



.select-wrapper+label {
    font-size: 1rem;
}

label {
   font-size: 1rem;
} 

.select-wrapper input.select-dropdown {
    font-size: .875rem;
}

